.page {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(180deg,rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0.1) 50%,  rgba(0, 0, 0, 0.7) 100%), 
    url('../../images/pattern.png'); */
    background: url('../../images/pattern.png'); 
    display: flex;
   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern";
}

 .page::before {
    content: "";
    position: fixed;
    right:0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    background: url('../../images/shadow.png') 0 0/100% 100% no-repeat;
    z-index: 0;
    /* background-size: contain; */
  }  

@media 
only screen and (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .page {
        background: url('../../images/pattern@2x.png'); 
        background-size: contain;
    } 
}

@media screen and (max-width: 1200px) {
    .page  {
        height: auto;
    }
  }

@media screen and (max-width: 768px) {
    .page  {
        height: auto;
    }
  }