@import url(./_selected-hover/card__prolog_selected-hover.css);
@import url(./_disabled/card__prolog_disabled.css);

.card__prolog {
    margin: 0;
    padding: 0;
    margin-top: 17px;
    margin-left: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    opacity: 1;
    
}