.card-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
    .card-list  {
        justify-content: center;
        max-width: 720px;
        margin: 0 auto;
    }
  }

  @media screen and (max-width: 768px) {
    .card-list  {
        max-width: 320px;
    }
  }